body{
    background-color: rgba(249, 248, 248, 0.888);
    padding: 25px;
}

ul{
    width: 100%;
    list-style-type: none ;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#contacto{
    float: right;
    background: none;
    border-color: transparent;
    font-size: 20px;
}

li{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 8px;
    margin-bottom: 0;
}

#vinculo{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo:link{
    color: #54a31b;
}

#vinculo:focus{
    color: #54a31b;
}

#vinculo:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.title{
    text-align: center;
}

#Foto{
    display: block;
    block-size: auto;
    max-width: 300px;
    max-height: 300px;
    float: right;
}
