body{
    background-color: rgba(250, 248, 248, 0.888);
    padding: 25px;
}

ul{
    width: 100%;
    list-style-type: none ;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#carousel{
    margin-left: 100px;
    margin-right: 100px;
}

li{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 8px;
    margin-bottom: 0;
}


#Compañia {
    display: inline-block;
    block-size: auto;
    width: 380px;
    border-color: green;
    border-bottom: 1px solid;
    background:none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 1em;
}

#Logo {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 75px;
    height: 75px;
}

#Titulo{
    display: block;
    block-size: auto;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

#Slogan{
    display: block;
    block-size: auto;
    font-size:15px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

#Botones{
    float: right;
    margin-right: 15px;
}

#inicio{
    border-color: transparent;
    background: none;
}

#vinculo1{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo1:focus{
    color: #54a31b;
}
#vinculo1:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}


#Registrarse{
    border-color: transparent;
    background: none;
}

#vinculo2{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo2:focus{
    color: #54a31b;
}

#vinculo2:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

#contacto{
    border-color: transparent;
    background: none;
    
}

#vinculo3{
    padding: 5px;
    color: #54a31b;
    outline: none;
    text-decoration: none;
}

#vinculo2:focus{
    color: #54a31b;
}

#vinculo3:hover{
    border-bottom: 1px solid;
    background: rgb(235, 226, 223);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

#foto1{
    height: 200px;
}

#foto2{
    height: 200px;
}

#foto3{
    height: 200px;
}
#carta1{
    float: left;
    width: 18rem;
    margin: auto;
    max-width: 525px;
    margin-bottom: 10px;
    margin-right: 100px;
}

#carta2{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    margin: auto;
    max-width: 525px;
    margin-left: 50px;
    margin-right: 90px;
}

#carta3{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    margin: auto;
    max-width: 525px;
    margin-right: 90px;
}

#carta4{
    width: 18rem;
    display: inline-block;
    block-size: auto;
    margin: auto;
    max-width: 525px;
    
}
